@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* ========= Scrollbar (App-like) ========= */
.scrollbar-app {
  scrollbar-gutter: stable both-edges; /* evita "pular" layout quando aparece */
}

/* Firefox */
.scrollbar-app {
  scrollbar-width: thin;
  scrollbar-color: rgba(148, 163, 184, 0.28) transparent; /* thumb / track */
}

/* Webkit (Chrome/Edge/Safari) */
.scrollbar-app::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar-app::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
}

.scrollbar-app::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.18);
  border-radius: 999px;
  border: 3px solid transparent;        /* cria “padding” */
  background-clip: content-box;
}

.scrollbar-app:hover::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.28);
  border: 3px solid transparent;
  background-clip: content-box;
}

.scrollbar-app::-webkit-scrollbar-thumb:active {
  background: rgba(148, 163, 184, 0.40);
  border: 2px solid transparent;
  background-clip: content-box;
}
